/* CSS Document */

/*****************************************************************************
 ***********************  universal ******************************************
 *****************************************************************************/
nav{
 	display:block;
 }
/*
 a:link {text-decoration:none;color:rgba(3,2,1,1);}
 a:visited {text-decoration:none;color:#ffffff;}
 a:active {text-decoration:none;color:rgba(215,48,47,1);}
 a:hover {text-decoration:underline;rgba(96,96,96,1);}
 */
  
/*****************************************************************************
 *************************** Clases ******************************************
 *****************************************************************************/

.Oculto
{
	//visibility:collapse;
	display: none;
}
 
  #BarraSuperior{
		font-family: "Century Gothic";
		font-size: 18px;
		width: 100%;
		float: left;
		margin: 0px;
		padding:0px;
		background-color: rgba(114,177,255,0.4);
	} 
		
	#BarraSuperior ul li{
		list-style: none;
		position: relative;
		display: block;
		text-align: center;
		float: left;
	}
	#BarraSuperior ul li a{	
		padding-right:15px;
	}
	

	
 
 /*****************************************************************************
 ******************************** Id ******************************************
 *****************************************************************************/
 
