#dvVotos{
	display:inline-block;
}
#dvMecure, #dvNocure{
	display:inline-block;
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	font-family: Arial;
	color: #666066;
	font-size: 20px;
	background: #f0f3f5;
	padding: 10px 20px 10px 20px;
	border: solid #f0edf0 2px;
	text-decoration: none;
}
#dvMecure p, #dvNocure p{
	width:75px;
	text-align:center;
	margin:0px;
	color:#666066;
}
#dvMecure a:hover, #dvNocure a:hover{
	text-align:center;
	margin:0px;
	color:#ffffff;
}

#dvMecure a, #dvNocure a{
	text-decoration:none;
}

#dvMecure p{

}

#dvNocure p{
	
}

#dvMecure p img, #dvNocure p img{
}

