/* CSS Document */

.dvFlotante, .dvTriangulo, .dvTrianguloBorde{
	position:absolute;
}
.dvFlotante {
	margin:2%;
	margin-top:0px;
	padding: 20px;	
	background-color: #FFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #7B7B7B;
	-webkit-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.75);
	text-align: left;
	z-index: 9;
}
.dvFlotante input 
{
	display: block;
}

.dvTriangulo {
  border-bottom: 10px solid white;
  border-left: 10px dotted transparent;
  border-right: 10px dotted transparent;
  margin-top:10px;
  z-index: 10;
}
.dvTrianguloBorde{
  border-bottom: 11px solid #7B7B7B;
  border-left: 11px dotted transparent;
  border-right: 11px dotted transparent;
  margin-top:10px;
  z-index: 11;
}

#dvRegistrar{
	right:-110px;
	top: 10px;
}
#trRegistrar{
  top: -9px;
  right:-10px;
}
#tbRegistrar{
  top: 40px;
  right:120px;
}

#dvLogin{
	right:-110px;
	top: 10px;
}
#trLogin{
  top: -9px;
  right:-10px;
}
#tbLogin{
  top: 40px;
  right:180px;
}

#dvNotif{
	right:-110px;
	top: 10px;
}
#trNotif{
  top: -9px;
  right:-10px;
}
#tbNotif{
  top: 40px;
  right:290px;
}

